<% provide(:title, "Home") %>
<div class="row">
  <div id="slideShowImages" clss="col-md-12">
    <img src="<%= asset_path('slide1.jpg') %>" alt="Slide 1">
    <img src="<%= asset_path('slide2.jpg') %>" alt="Slide 2">
    <img src="<%= asset_path('slide3.jpg') %>" alt="Slide 3">
    <img src="<%= asset_path('slide4.jpg') %>" alt="Slide 4">
    <img src="<%= asset_path('slide5.jpg') %>" alt="Slide 5">
    <img src="<%= asset_path('slide6.jpg') %>" alt="Slide 6">
    <img src="<%= asset_path('slide7.jpg') %>" alt="Slide 7">
  </div>
</div>
<div class="container">
  <section class="services">
    <div class="header">
      <div class="container-fluid">
        <h1>our work</h1>
      </div>
    </div>
    <article class="container service-entry">
      <div class="service-title">
        <h1 class="h4">
          <a href="/delivery" class="service-title link-alt">Delivery</a>
        </h1>
      </div>
      <div class="service-snippet">
        <p>Delivery is at the heart of what we do. Our team of designers and developers work to transform government services by building world-class software products and raising standards of software development throughout the government. Learn more about our products by visiting our <a href='/dashboard'>dashboard</a> and you can find more information about <a href='/guides'>our standards and capabilities</a> through our guides.</p>
        <p>Learn more about <a href='/dashboard'>what we're building and how we're doing it</a>.</p>
      </div>
      
      <div class="service-title">
        <h1 class="h4">
          <a href="/consulting" class="service-title link-alt">Consulting</a>
        </h1>
      </div>
      <div class="service-snippet">
        <p>Our consulting team works alongside other federal agencies as partners. We’re here to roll up our sleeves right alongside you and solve the biggest challenges facing your agency. From developing agile acquisition strategies to evaluating opportunities to improving your digital initiatives, our team sets you up for success.</p>
        <p>Learn more about the ways we can help you at <a href='/consulting/'>GVF Consulting</a>.</p>
      </div>    
    </article>  
  </section>
  <hr>
  <section class="services">
    <div class="header">
      <div class="container-fluid">
        <h1>Suscribe to our Newsletters</h1>
      </div>
    </div>
    <article class="container service-entry">
      <div>
    		<div style="width:400px;">
    			<%= form_for(Newsletter.new, remote: true, format: :json, html: {class: :newsletter_form}) do |f| %>
    			<%= f.label :name %>
    			<%= f.text_field :name, class: 'form-control' %>
    			<%= f.label :email %>
    			<%= f.email_field :email, class: 'form-control' %>
    			<%= f.submit "Sign up to subscribe to our newsletter", class: "btn btn-primary" %> 
    			<% end %>
    			<div>
    				<p class="small">Your privacy and security are important to us, we'll only share your information as described in <%= link_to "GVF's Privacy and Security Notice", privacy_path(:anchor => "newsletter")%>.</p>
    			</div>
    		</div>
    	</div>	
    </article>
  </section>  
</div>
