<header class="navbar navbar-default navbar-fixed-top">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Global Village Foundation</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= active_class(root_path) %>" data-no-turbolink>
            <a href="/"><i class="fa fa-home"></i>&nbsp;</span> Home</a>
          </li>
           <li class="<%= active_class(about_path) %>" data-no-turbolink><%= link_to "About", about_path%></li>
          <li class="dropdown <%= active_class(about_path) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink>
                <%= link_to advisorybody_path do %>
                  Advisory Body
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to governingcouncil_path do %>
                    Governing Council
                <% end %>
              </li>
               <li data-no-turbolink>
                <%= link_to directors_path do %>
                    Directors
                <% end %>
              </li>
              <li class="<%= active_class(about_path) %>" data-no-turbolink><%= link_to "People", people_path%></li>
            </ul>
          </li>
          
          <li class="<%= active_class(teams_path) %>" data-no-turbolink><%= link_to "Teams", '#'%></li>
          <li class="dropdown <%= active_class(teams_path) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink>
                <%= link_to admin_path do %>
                    Administration
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to agri_path do %>
                    Agriculture, Animal Husbandry & Rural Development
                <% end %>
              </li>
               <li data-no-turbolink>
                <%= link_to b3p_path do %>
                    Beti bachao, Beti padhao (Women Empowerment)
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to edu_path do %>
                    Education
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to energy_path do %>
                    Energy
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to env_path do %>
                    Environment
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to industry_path do %>
                    Industry
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to it_path do %>
                    IT
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to operations_path do %>
                    Operations
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to finance_path do %>
                    Public Financial Management
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to skill_path do %>
                  Skill Development
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to tourism_path do %>
                  Tourism
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to urbdev_path do %>
                  Urban Development
                <% end %>
              </li>      
            </ul>
          </li>
          <li class="<%= active_class(pubs_path) %>" data-no-turbolink><%= link_to "Publications", pubs_path%></li>
          <li class="<%= active_class(news_events_path) %>" data-no-turbolink><%= link_to "News & Events", news_events_path%></li>
          <li>
            <a href="/"><i class="fa fa-facebook circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-twitter circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-linkedin circle"></i></span></a>
          </li>
          <li>
            <a href="/"><i class="fa fa-google-plus circle"></i></span></a>
          </li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="<%= active_class(current_user) %>">
              <%= link_to current_user do %>
                <i class="fa fa-user fa-fw"></i>&nbsp;<%=current_user.name%></i>
              <% end %>
            </li>
            <li class="dropdown <%= active_class(people_path) %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><span class="caret"></span></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-cog fa-fw"></i>&nbsp;Settings</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: "delete" do %>
                    <i class="fa fa-sign-out fa-fw"></i>&nbsp;Log out</i>
                  <% end %>
                </li>
              </ul>
            </li>  
          <% else %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li>
                <%= link_to new_user_session_path do%>
                  <i class="fa fa-sign-in fa-fw"></i>&nbsp;Log in</i>
                <%end%>
              </li>
          <% end %>
        </ul>-->
      </div>
    </div>
  </nav>
</header>