<header class="navbar navbar-default navbar-fixed-top">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" class="pull-left"><img src="<%= asset_path('favicon-32x32.png') %>" class="pull-left"><b>&nbsp;&nbsp;&nbsp;Global Village Foundation&nbsp;&nbsp;&nbsp;</b>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= active_class(root_path) %>" data-no-turbolink>
            <a href="/"><i class="fa fa-home"></i>&nbsp;</span>Home</a>
          </li>
           <li class="<%= 'active' if params[:controller] == 'about' %>" data-no-turbolink><%= link_to "About", about_path%></li>
          <li class="dropdown <%= active_class(about_path) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink>
                <%= link_to advisorybody_path do %>
                  Advisory Body
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to governingcouncil_path do %>
                    Governing Council
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li class="<%= active_class(about_path) %>" data-no-turbolink>
                <%= link_to "People", people_path%>
              </li>
            </ul>
          </li>

          <li class="<%= 'active' if params[:controller] == 'teams' %>"  class="dropdown" data-no-turbolink>
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Teams&nbsp;<b><span class="caret"></span></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink>
                <%= link_to agri_path do %>
                    Agriculture, Animal Husbandry & Rural Development
                <% end %>
              </li>
               <li data-no-turbolink>
                <%= link_to b3p_path do %>
                    Beti bachao, Beti padhao (Women Empowerment)
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to edu_path do %>
                    Education
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to energy_path do %>
                    Energy
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to env_path do %>
                    Environment
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to industry_path do %>
                    Industry
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to operations_path do %>
                    Operations
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to finance_path do %>
                    Public Financial Management
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to pubhealth_path do %>
                    Public Health
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to skill_path do %>
                  Skill Development
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to tourism_path do %>
                  Tourism
                <% end %>
              </li>
              <li data-no-turbolink>
                <%= link_to urbdev_path do %>
                  Urban Development
                <% end %>
              </li>      
            </ul>
          </li>
          <li class="<%= active_class(pubs_path) %>" data-no-turbolink><%= link_to "Publications", pubs_path%></li>
          <li class="<%= active_class(news_events_path) %>" data-no-turbolink><%= link_to "News & Events", news_events_path%></li>
          <li>
            <a href="https://www.facebook.com/GlobalVillageFoundationIndia/"><i class="fa fa-facebook circle"></i></span></a>
          </li>
          <li>
            <a href="https://twitter.com/indiagvf"><i class="fa fa-twitter circle"></i></span></a>
          </li>
          <li>
            <a href="https://in.linkedin.com/in/global-village-foundation-b62773114"><i class="fa fa-linkedin circle"></i></span></a>
          </li>
          <li>
            <a href="https://plus.google.com/104832864006345411902"><i class="fa fa-google-plus circle"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>