<header class="navbar navbar-default navbar-static-top navbar-inverse">
  <nav>
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li><%= link_to "Work", work_path %></li>
        <li>
          <li><%= link_to "People", people_path%></li>
        </li>
        <li>
          <li><%= link_to "Blog", blog_path%></li>
        </li>
        <li>
          <li><%= link_to "Newsletter", root_path(:anchor => "newsletter")%></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to current_user do %>
                  <i class="fa fa-user fa-fw"></i>&nbsp;<%=@current_user.name%></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-pencil fa-fw"></i>&nbsp;Settings</i>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: "delete" do %>
                  <i class="fa fa-sign-out fa-fw"></i>&nbsp;Log out</i>
              <% end %>
            </li>
          </ul>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>