  <div id="newsCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @news.each_with_index do |news, index| %>
        <% if (index == 0) %>
        <div class="item active">
           <img src="<%= news.image_url %>" alt="Image" class="img-responsive" style="max-width :760px;min-width: 760px; min-height:400px;max-height: 400px ">
           <div class="carousel-caption">
            <h4><a href="<%=news.detail_url%>"><%= news.title %></a></h4>
            <p><%= news.title %></p>
          </div>
        </div><!-- End Item -->
        <%else%>
          <div class="item">
          <% if news.image_url != nil %>
            <img src="<%= news.image_url %>" alt="Image" class="img-responsive" style="max-width :760px;min-width: 760px; min-height:400px;max-height: 400px">
          <%else%>
            <img src="http://placehold.it/760x400/cccccc/ffffff">
          <%end%>
           
           <div class="carousel-caption">
            <h4><a href="<%=news.detail_url%>"><%= news.title %></a></h4>
            <p><%= news.title %></p>
          </div>
        </div><!-- End Item -->
        <%end%>
      <%end%>
  </div>
  <ul class="list-group col-sm-4">
    <% @news.each_with_index do |news, index| %>
      <% if (index == 0) %>
        <li data-target="#newsCarousel" data-slide-to="<%=index%>" class="list-group-item active"><h4><strong><%= news.title %></strong></h4></li>
      <%else%>
        <li data-target="#newsCarousel" data-slide-to="<%=index%>" class="list-group-item"><h4><strong><%= news.title %></strong></h4></li>
      <%end%>
    <%end%>
  </ul>
  <!--/carousel-inner--> 
  <!-- Controls -->
  <div class="carousel-controls">
      <a class="left carousel-control" href="#newsCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#newsCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
  <!--/newsCarousel-->
<!--/well-->